---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Props {
	altText: string;
	title: string;
	paragraph1?: string;
	paragraph2?: string;
	paragraph3?: string;
	imageSrc: string;
	buttonText: string;
}

const {
	altText,
	title,
	paragraph1,
	paragraph2,
	paragraph3,
	imageSrc,
	buttonText,
} = Astro.props;
const image = import.meta.glob<{ default: ImageMetadata }>(
	'/src/assets/Images/*.{jpeg,jpg,png,gif}',
);
---

<section
	id="hero"
	class="pt-0 z-1 mb-0 relative scroll-mt-40 pb-14 bg-white duration-200"
>
	<div
		id="herobanner"
		class="min-h-70 lg:min-h-125 relative flex flex-col justify-center items-center py-11"
	>
		<div id="headline" class="relative z-1 lg:mt-0 max-w-180 mx-auto px-7.5">
			<h1
				class="text-[34px]! font-bold leading-[1.1] lg:text-[58px]! mb-0 relative z-1 text-white lg:leading-[1.05] text-center m-0 p-0"
			>
				{title}
			</h1>
		</div>
		<div
			id="heroImage"
			class="max-w-none me-0 rounded-none absolute top-0 left-0 z-0 w-full h-full my-0 mx-auto overflow-hidden bg-secondary"
		>
			<Image
				src={image[imageSrc]()}
				alt={altText}
				class="object-cover w-full h-full opacity-75"
			/>
		</div>
	</div>
	<div id="cta" class="text-center max-w-180 mx-auto px-7.5">
		<a
			href=""
			class="mt-8.5 border-2 border-solid border-primary bg-primary text-white inline-block w-auto decoration-none items-center my-7.5 mx-auto py-3.25 px-7.5 text-[18px]! font-semibold leading-[1.2] rounded-[100px] shadow-[0_10px_22px_0_rgba(0,0,0,0.16)] cursor-pointer hover:opacity-80"
		>
			{buttonText}
		</a>
	</div>
	<div id="phone" class="-mt-2 text-[20px]! text-center">
		<a
			href="tel:5067215722"
			class="mx-0 mt-0 mb-7.5 flex justify-center items-center decoration-none cursor-pointer"
		>
			<span class="text-secondary relative -top-1 me-1.5 w-3.75 h-3.75"
				><ion-icon name="call"></ion-icon></span
			><span class="text-secondary align-middle">506-721-5722</span>
		</a>
	</div>
	<div id="description" class="mt-0 max-w-180 mx-auto px-7.5">
		<p
			class="mb-2.5 leading-[1.7] m-0 p-0 font-medium lg:text-lg lg:leading-[1.55]"
		>
			{paragraph1}<br /><br />{paragraph2}<br /><br />{paragraph3}
		</p>
	</div>
</section>
