---
import { Image } from 'astro:assets';
import rightQuote from '../assets/Images/rightQuote.svg';
import star from '../assets/Images/Star.svg';
---

<section id="reviews" class="reviews scroll-mt-40">
	<div class="bg-lt-gray relative">
		<div class="pt-8.5 pb-10 xl:py-14">
			<div class="max-w-180 mx-auto px-7.5 xl:mt-0">
				<h2
					class="text-center m-0 p-0 mb-5 font-bold text-[25px]! lg:text-[38px]! lg:mb-7 leading-[1.2]"
				>
					Discover Why Clients Rave About The Big Friendly Bookkeeper's Trusted
					Financial Expertise
				</h2>
			</div>

			<div class="max-w-180 mx-auto px-7.5 xl:p-0 xl:max-w-[92%] xl:mt-0">
				<div
					class="testimonials mx-auto xl:w-275 xl:my-0 xl:flex xl:flex-wrap xl:justify-center xl:content-stretch xl:gap-7.5"
				>
					<div
						class="relative max-w-85 mx-auto mb-14 text-center pb-0 xl:-pt-10 xl:flex xl:flex-col xl:grow-0 xl:shrink xl:basis-86.5 xl:p-7.5 xl:rounded-[10px]"
					>
						<div class="testimonial-0 text-center mt-0 mb-1.5 xl:-mt-10">
							<div
								class="testimonial-author relative w-30 h-30 mx-auto rounded-[50%] xl:mb-3.5"
							>
								<div
									class="absolute left-[50%] opacity-10 z-1 w-10 h-10 bottom-10.5 -translate-x-[50%] scale-200 xl:scale-270 rotate-180"
								>
									<Image
										src={rightQuote}
										alt="Right Quote"
										class="w-full h-full object-fit xl:object-contain"
									/>
								</div>
							</div>
							<div class="font-medium">Sarah J., Saint John, NB</div>
						</div>
						<div class="flex justify-center content-center mb-7">
							<Image src={star} alt="star" class="w-5 h-5 mr-2" />
							<Image src={star} alt="star" class="w-5 h-5 mr-2" />
							<Image src={star} alt="star" class="w-5 h-5 mr-2" />
							<Image src={star} alt="star" class="w-5 h-5 mr-2" />
							<Image src={star} alt="star" class="w-5 h-5 mr-2" />
						</div>
						<p
							class="mb-0 leading-[1.7] font-medium xl:text-[18px]! xl:leading=[1.55]!"
						>
							“Matthew completely transformed how I manage my business finances.
							His expertise in QuickBooks made all the difference!”
						</p>
					</div>
					<div
						class="relative max-w-85 mx-auto mb-14 text-center pb-0 xl:-pt-10 xl:flex xl:flex-col xl:grow-0 xl:shrink xl:basis-86.5 xl:p-7.5 xl:rounded-[10px]"
					>
						<div class="testimonial-0 text-center mt-0 mb-1.5 xl:-mt-10">
							<div
								class="testimonial-author relative w-30 h-30 mx-auto rounded-[50%] xl:mb-3.5"
							>
								<div
									class="absolute left-[50%] opacity-10 z-1 w-10 h-10 bottom-10.5 -translate-x-[50%] scale-200 xl:scale-270 rotate-180"
								>
									<Image
										src={rightQuote}
										alt="Right Quote"
										class="w-full h-full object-fit xl:object-contain"
									/>
								</div>
							</div>
							<div class="font-medium">Tom L., Saint John, NB</div>
						</div>
						<div class="flex justify-center content-center mb-7">
							<Image src={star} alt="star" class="w-5 h-5 mr-2" />
							<Image src={star} alt="star" class="w-5 h-5 mr-2" />
							<Image src={star} alt="star" class="w-5 h-5 mr-2" />
							<Image src={star} alt="star" class="w-5 h-5 mr-2" />
							<Image src={star} alt="star" class="w-5 h-5 mr-2" />
						</div>
						<p
							class="mb-0 leading-[1.7] font-medium xl:text-[18px]! xl:leading=[1.55]!"
						>
							"Working with Matt has been a game-changer. He's not just a
							bookkeeper, he's like having a CFO on my team."
						</p>
					</div>
					<div
						class="relative max-w-85 mx-auto mb-14 text-center pb-0 xl:-pt-10 xl:flex xl:flex-col xl:grow-0 xl:shrink xl:basis-86.5 xl:p-7.5 xl:rounded-[10px]"
					>
						<div class="testimonial-0 text-center mt-0 mb-1.5 xl:-mt-10">
							<div
								class="testimonial-author relative w-30 h-30 mx-auto rounded-[50%] xl:mb-3.5"
							>
								<div
									class="absolute left-[50%] opacity-10 z-1 w-10 h-10 bottom-10.5 -translate-x-[50%] scale-200 xl:scale-270 rotate-180"
								>
									<Image
										src={rightQuote}
										alt="Right Quote"
										class="w-full h-full object-fit xl:object-contain"
									/>
								</div>
							</div>
							<div class="font-medium">Lisa K., Saint John, NB</div>
						</div>
						<div class="flex justify-center content-center mb-7">
							<Image src={star} alt="star" class="w-5 h-5 mr-2" />
							<Image src={star} alt="star" class="w-5 h-5 mr-2" />
							<Image src={star} alt="star" class="w-5 h-5 mr-2" />
							<Image src={star} alt="star" class="w-5 h-5 mr-2" />
							<Image src={star} alt="star" class="w-5 h-5 mr-2" />
						</div>
						<p
							class="mb-0 leading-[1.7] font-medium xl:text-[18px]! xl:leading=[1.55]!"
						>
							"I trusted Matt to clean up my messy books, and he exceeded my
							expectations. Highly recommend his services!"
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
