---
import { Image } from 'astro:assets';
import Service1 from '../assets/Images/Service1.jpeg';
import Service2 from '../assets/Images/Service2.jpeg';
import Service3 from '../assets/Images/Service3.jpeg';
import Service4 from '../assets/Images/Service4.jpeg';
import Service5 from '../assets/Images/Service5.jpeg';
import Service6 from '../assets/Images/Service6.jpeg';
---

<section id="services" class="pt-10 pb-12.5 bg-lt-gray scroll-mt-40">
	<div class="max-w-180 lg:max-w-300 mx-auto px-7.5">
		<h2
			class="block text-[25px]! font-bold mb-5 text-center leading-[1.2] lg:text-[38px]! lg:font-bold max-w-135 mx-auto"
		>
			Expert Bookkeeping and CFO Services to Elevate Your Business Financials
		</h2>
		<div
			class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 align-top gap-x-5"
		>
			<a
				href="./services/comprehensive_bookkeeping_cleanup"
				class="mt-5 md:mt-10 flex flex-col justify-center items-center text-center"
			>
				<div class="flex flex-col justify-center items-center w-full h-full">
					<div class="w-37.5 h-37.5 overflow-hidden rounded-xl xl:w-50 xl:h-50">
						<Image
							src={Service1}
							alt="Service 1"
							class="w-full h-full object-cover"
						/>
					</div>
				</div>
				<div
					class="px-3.75 mt-4.5 text-[22px]! underline font-bold capitalize line-height-1.2"
				>
					Comprehensive Bookkeeping Cleanup
				</div>
				<div class="text-[17px] line-height-1.7 mt-4 text-center font-medium">
					Are you overhelmed by messy books? Our dedicated team will clean up
					historical data to simplify your accounting processes.
				</div>
			</a>
			<a
				href="./services/accounts-receivable-and-payable-management"
				class="mt-10 flex flex-col justify-start items-center text-center"
			>
				<div class="flex flex-col items-center w-full">
					<div class="w-37.5 h-37.5 overflow-hidden rounded-xl xl:w-50 xl:h-50">
						<Image
							src={Service2}
							alt="Service 2"
							class="w-full h-full object-cover"
						/>
					</div>
				</div>
				<div
					class="px-3.75 mt-4.5 text-[22px] underline font-bold capitalize line-height-1.2"
				>
					Receivable and Payable Management
				</div>
				<div class="text-[17px] line-height-1.7 mt-4 text-center font-medium">
					We take charge of your accounts payable/receivable, allowing you to
					focus on growing your business.
				</div>
			</a>
			<a
				href="./services/accurate-payroll-processing"
				class="mt-10 flex flex-col justify-start items-center text-center"
			>
				<div class="flex flex-col items-center w-full">
					<div class="w-37.5 h-37.5 overflow-hidden rounded-xl xl:w-50 xl:h-50">
						<Image
							src={Service3}
							alt="Service 3"
							class="w-full h-full object-cover"
						/>
					</div>
				</div>
				<div
					class="px-3.75 my-4.5 text-[22px] underline font-bold align-text-top capitalize line-height-1.2"
				>
					Accurate Payroll Processing
				</div>
				<div class="text-[17px] line-height-1.7 mt-4 text-center font-medium">
					We guarantee timely and precise payroll processing, ensuring your
					employees are always paid correctly and on time.
				</div>
			</a>
			<a
				href="./services/tax-preparation-and-strategy"
				class="mt-10 flex flex-col items-center justify-start text-center"
			>
				<div class="relative flex flex-col items-center w-full">
					<div class="w-37.5 h-37.5 overflow-hidden rounded-xl xl:w-50 xl:h-50">
						<Image
							src={Service4}
							alt="Service 4"
							class="w-full h-full object-cover"
						/>
					</div>
				</div>
				<div
					class="px-3.75 mt-4.5 text-[22px] underline font-bold capitalize line-height-1.2"
				>
					Tax Preparation
				</div>
				<div class="text-[17px] line-height-1.7 mt-4 text-center font-medium">
					Let us handle your tax preparation so you can maximize refunds and
					minimize stress during tax season.
				</div>
			</a>
			<a
				href="./services/tailored-financial-consulting"
				class="mt-10 flex flex-col items-center justify-center text-center"
			>
				<div
					class="relative flex flex-col justify-center items-center w-full h-full"
				>
					<div class="w-37.5 h-37.5 overflow-hidden rounded-xl xl:w-50 xl:h-50">
						<Image
							src={Service5}
							alt="Service 5"
							class="w-full h-full object-cover"
						/>
					</div>
				</div>
				<div
					class="px-3.75 mt-4.5 text-[22px] underline font-bold capitalize line-height-1.2"
				>
					Tailored Financial Consulting
				</div>
				<div class="text-[17px] line-height-1.7 mt-4 text-center font-medium">
					We work closely with you to create a financial strategy tailored to
					your business, ensuring meaningful growth and sustainability.
				</div>
			</a>
			<a
				href="./services/trusted-financial-partnership"
				class="mt-10 flex flex-col items-center justify-start text-center"
			>
				<div class="relative flex flex-col items-center w-full">
					<div class="w-37.5 h-37.5 overflow-hidden rounded-xl xl:w-50 xl:h-50">
						<Image
							src={Service6}
							alt="Service 6"
							class="w-full h-full object-cover"
						/>
					</div>
				</div>
				<div
					class="px-3.75 mt-4.5 text-[22px] underline font-bold capitalize line-height-1.2"
				>
					Trusted Financial Partnership
				</div>
				<div class="text-[17px] line-height-1.7 mt-4 text-center font-medium">
					We are committed to building lasting trust with our clients, providing
					reliable support for all your financial needs.
				</div>
			</a>
		</div>
	</div>
</section>
