---
import { Image } from 'astro:assets';
import Service1 from '../assets/Images/Service1.jpeg';
import Service2 from '../assets/Images/Service2.jpeg';
import Service3 from '../assets/Images/Service3.jpeg';
import Service4 from '../assets/Images/Service4.jpeg';
import Service5 from '../assets/Images/Service5.jpeg';
import Service6 from '../assets/Images/Service6.jpeg';
---

<section class="pt-10 pb-12.5">
	<div class="max-w-180 lg:max-w-275 mx-auto px-7.5">
		<h2 class="font-medium mb-5 text-center lg:text-[36px]">
			Expert Bookkeeping and CFO Services to Elevate Your Business Financials
		</h2>
		<div class="flex md:flex-row flex-col items-center justify-center">
			<a
				href=""
				class="mt-5 flex flex-col items-center justify-center text-center"
			>
				<div
					class="relative flex flex-col justify-center items-center w-full h-full"
				>
					<div class="w-37.5 h-37.5 overflow-hidden rounded-xl">
						<Image
							src={Service1}
							alt="Service 1"
							class="w-full h-full object-cover"
						/>
					</div>
				</div>
				<div
					class="px-3.75 mt-4.5 text-[22px] underline font-bold capitalize line-height-1.2"
				>
					Comprehensive Bookkeeping Cleanup
				</div>
				<div class="text-[17px] line-height-1.7 mt-4 text-center">
					Are you overhelmed by messy books? Our dedicated team will clean up
					historical data to simplify your accounting processes.
				</div>
			</a>
			<a
				href=""
				class="mt-10 flex flex-col items-center justify-center text-center"
			>
				<div
					class="relative flex flex-col justify-center items-center w-full h-full"
				>
					<div class="w-37.5 h-37.5 overflow-hidden rounded-xl">
						<Image
							src={Service2}
							alt="Service 2"
							class="w-full h-full object-cover"
						/>
					</div>
				</div>
				<div
					class="px-3.75 mt-4.5 text-[22px] underline font-bold capitalize line-height-1.2"
				>
					Receivable and Payable Management
				</div>
				<div class="text-[17px] line-height-1.7 mt-4 text-center">
					We take charge of your accounts payable/receivable, allowing you to
					focus on growing your business.
				</div>
			</a>
			<a
				href=""
				class="mt-10 flex flex-col items-center justify-center text-center"
			>
				<div
					class="relative flex flex-col justify-center items-center w-full h-full"
				>
					<div class="w-37.5 h-37.5 overflow-hidden rounded-xl">
						<Image
							src={Service3}
							alt="Service 3"
							class="w-full h-full object-cover"
						/>
					</div>
				</div>
				<div
					class="px-3.75 mt-4.5 text-[22px] underline font-bold capitalize line-height-1.2"
				>
					Accurate Payroll Processing
				</div>
				<div class="text-[17px] line-height-1.7 mt-4 text-center">
					We guarantee timely and precise payroll processing, ensuring your
					employees are always paid correctly and on time.
				</div>
			</a>
			<a
				href=""
				class="mt-10 flex flex-col items-center justify-center text-center"
			>
				<div
					class="relative flex flex-col justify-center items-center w-full h-full"
				>
					<div class="w-37.5 h-37.5 overflow-hidden rounded-xl">
						<Image
							src={Service4}
							alt="Service 4"
							class="w-full h-full object-cover"
						/>
					</div>
				</div>
				<div
					class="px-3.75 mt-4.5 text-[22px] underline font-bold capitalize line-height-1.2"
				>
					Tax Preparation
				</div>
				<div class="text-[17px] line-height-1.7 mt-4 text-center">
					Let us handle your tax preparation so you can maximize refunds and
					minimize stress during tax season.
				</div>
			</a>
			<a
				href=""
				class="mt-10 flex flex-col items-center justify-center text-center"
			>
				<div
					class="relative flex flex-col justify-center items-center w-full h-full"
				>
					<div class="w-37.5 h-37.5 overflow-hidden rounded-xl">
						<Image
							src={Service5}
							alt="Service 5"
							class="w-full h-full object-cover"
						/>
					</div>
				</div>
				<div
					class="px-3.75 mt-4.5 text-[22px] underline font-bold capitalize line-height-1.2"
				>
					Tailored Financial Consulting
				</div>
				<div class="text-[17px] line-height-1.7 mt-4 text-center">
					We work closely with you to create a financial strategy tailored to
					your business, ensuring meaningful growth and sustainability.
				</div>
			</a>
			<a
				href=""
				class="mt-10 flex flex-col items-center justify-center text-center"
			>
				<div
					class="relative flex flex-col justify-center items-center w-full h-full"
				>
					<div class="w-37.5 h-37.5 overflow-hidden rounded-xl">
						<Image
							src={Service6}
							alt="Service 6"
							class="w-full h-full object-cover"
						/>
					</div>
				</div>
				<div
					class="px-3.75 mt-4.5 text-[22px] underline font-bold capitalize line-height-1.2"
				>
					Trusted Financial Partnership
				</div>
				<div class="text-[17px] line-height-1.7 mt-4 text-center">
					We are committed to building lasting trust with our clients, providing
					reliable support for all your financial needs.
				</div>
			</a>
		</div>
	</div>
</section>
